@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  color: white;
}

.bg-sidebar {
  @apply bg-purple-400;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
